extends layout
block content
    .app-content.content
      .content-wrapper
        .content-header.row
          .content-header-left.col-md-6.col-12.mb-2.breadcrumb-new
            h3.content-header-title.mb-0.d-inline-block jsGrid
            .row.breadcrumbs-top.d-inline-block
              .breadcrumb-wrapper.col-12
                ol.breadcrumb
                  li.breadcrumb-item
                    a(href='index.html') Home
                  li.breadcrumb-item
                    a(href='#') jsGrid
                  li.breadcrumb-item.active
                    | jsGrid
          .content-header-right.col-md-6.col-12
            .dropdown.float-md-right
              button#dropdownBreadcrumbButton.btn.btn-danger.dropdown-toggle.round.btn-glow.px-2(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Actions
              .dropdown-menu(aria-labelledby='dropdownBreadcrumbButton')
                a.dropdown-item(href='#')
                  i.la.la-calendar-check-o
                  |  Calender
                a.dropdown-item(href='#')
                  i.la.la-cart-plus
                  |  Cart
                a.dropdown-item(href='#')
                  i.la.la-life-ring
                  |  Support
                .dropdown-divider
                a.dropdown-item(href='#')
                  i.la.la-cog
                  |  Settings
        .content-body
         
          section#validation-scenario
            .row
              .col-12
                .card
                  .card-header
                    h4.card-title Validation Scenario
                    a.heading-elements-toggle
                      i.la.la-ellipsis-v.font-medium-3
                    .heading-elements
                      ul.list-inline.mb-0
                        li
                          a(data-action='collapse')
                            i.ft-minus
                        li
                          a(data-action='reload')
                            i.ft-rotate-cw
                        li
                          a(data-action='expand')
                            i.ft-maximize
                        li
                          a(data-action='close')
                            i.ft-x
                  .card-content.collapse.show
                    .card-body.card-dashboard
                      p
                        | Grid supports field values validation for inserting and editing.
                        | There are plenty of built-in validators available. Furthermore
                        | custom validators can be easily added.
                      #validation
